{% extends 'SoftUniBundle::base.html.twig' %}

{% block body %}
    <h2 class="sub-header">Edit Product Category</h2>

    {% form_theme form 'SoftUniBundle:form:bootstrap_3_layout.html.twig' %}

    {{ form_start(form, {'attr' : { 'novalidate' : 'novalidate' }}) }}
        {{ form_row(form.parent) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {#{{ form_row(form.file) }}#}
        <div class="form-group{% if form_errors(form.file) %} has-error{% endif %}">
            {{ form_label(form.file) }}
            <div class="col-sm-8">
                {{ form_widget(form.file) }}
                {{ form_errors(form.file) }}
                {% if (productCategory.webPath) %}
                    <p class="help">
                        <a href="{{ productCategory.webPath }}" target="_blank">
                            <img src="{{ productCategory.webPath }}" class="img-thumbnail" width="120"/>
                        </a>
                    </p>
                {% endif %}

            </div>
        </div>
        {{ form_row(form.rank) }}
        {{ form_row(form.products) }}
        <div class="form-group">
            <div class="col-sm-8 col-lg-offset-4">
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
        </div>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_product-category_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
