{% extends 'SoftUniBundle::base.html.twig' %}

{% block body %}
    <h2 class="sub-header">Categories</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Image</th>
                <th>Rank</th>
                <th>Products</th>
            </tr>
            </thead>
            <tbody>
            {% for productCategory in productCategories %}
                <tr>
                    {% if (productCategory.children|length) %}
                        <td><a href="{{ path('subcategory_list', {'slug': productCategory.slug}) }}">{{ productCategory.title }}</a></td>
                        <td><a href="{{ path('subcategory_list', {'slug': productCategory.slug}) }}">
                                {% if (productCategory.image) %}
                                <img src="{{ productCategory.webPath }}" class="img-thumbnail" width="80"/>
                            {% else %}
                                <img src="https://placehold.it/80x80" class="img-thumbnail" width="80"/>
                                {% endif %}
                            </a>
                        </td>
                    {% else %}
                        <td><a href="{{ path('category_product_list', {'slug': productCategory.slug}) }}">{{ productCategory.title }}</a></td>
                        <td><a href="{{ path('category_product_list', {'slug': productCategory.slug}) }}">
                                {% if (productCategory.image) %}
                                    <img src="{{ productCategory.webPath }}" class="img-thumbnail" width="80"/>
                                {% else %}
                                    <img src="https://placehold.it/80x80" class="img-thumbnail" width="80"/>
                                {% endif %}
                            </a>
                        </td>
                    {% endif %}
                    <td>{{ productCategory.rank }}</td>
                    <td><a href="{{ path('category_product_list', {'slug': productCategory.slug}) }}">{{ productCategory.products|length }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}