{% extends 'SoftUniBundle::base.html.twig' %}

{% block body %}
    <h2 class="sub-header">Product Details</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ product.id }}</td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td>{{ product.slug }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ product.title }}</td>
                </tr>
                <tr>
                    <th>Subtitle</th>
                    <td>{{ product.subtitle }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ product.description }}</td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td>{% if (product.webPath) %}
                            <a href="{{ product.webPath }}" target="_blank">
                                <img src="{{ product.webPath }}" class="img-thumbnail" width="120"/>
                            </a>
                        {% else %}
                            <img src="https://placehold.it/120x120" class="img-thumbnail" width="120"/>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>{{ product.price }}</td>
                </tr>
                <tr>
                    <th>Rank</th>
                    <td>{{ product.rank }}</td>
                </tr>
                <tr>
                    <th>Created at</th>
                    <td>{% if product.createdAt %}{{ product.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Updated at</th>
                    <td>{% if product.updatedAt %}{{ product.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <ul>
        <li>
            <a href="{{ path('admin_product_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_product_edit', { 'id': product.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
